@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("TestSöhne-Regular.otf"),
  url("./assets/fonts/TestSöhne-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("TestSöhne-Bold.otf"),
  url("./assets/fonts/TestSöhne-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("TestSöhne-Medium.otf"),
  url("./assets/fonts/TestSöhne-Medium.otf") format("truetype");
}

body {
  background-color: #F7F7FF;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #303770;

  color: #F7F7FF;
}
